header{
  color:#836f4a;
  background-color: #f5e3c5;
  height: 210px;
}
header h1{
  font-family: broadway;
  text-align: center;
  padding-top: 3%;
  font-size: 40px;

}
header nav{
  padding-bottom:10%;
  font-size: 16px;
  font-family:comic sans ms; 
}
header nav ul li a {
  color:#836f4a;
  text-decoration: none;.
}
#first {
  background-color:#fff5e4;
  height:200px ;
  text-align: center;
  margin-left: 3%;
  margin-right: 3%;
  margin-top: 3%;


}
#first h4{
  font-size: 22px;
 padding-top: 30px;
 font-family: Berlin Sans FB;
 color: #836f4a
}
#first p {
  font-size: 17px;
  font-family: comic sans ms;
  text-align: center;
  color: #a08350;
  height: 150px;
}
#second {
  background-color:  rgb(253, 249, 242);
  color:  #a08350;
  font-family: Berlin Sans FB;
  margin-top: 3%;
   padding-bottom: 3%;
  font-size: 20px

}

.image-container {
  text-align: center;
  margin-inline-end: 10px;
  margin-block-start: 10px;
  
}
#third{
  background-color:#fff5e4;
  height:40px ;
  text-align: center;
  margin-left: 3%;
  margin-right: 3%;
  margin-top: 3%;
  padding-top: 5%;
  height: 150px ;
}
#third p{
  font-size: 17px;
  font-family: comic sans ms;
  text-align: center;
  color: #a08350;
}

#third h5{
font-size: 17px;
 font-family: comic sans ms;
 color: #a08350;
}
footer {
    color: #a08350;
    margin-top: 8%;
    font-size: 13px;

}